.header {
  display: flex;
  justify-content: center;
  min-height: var(--header-height);
  border-bottom: 1px solid var(--color-filled-default);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width-content);
}

.wrapper {
  display: flex;
  align-items: center;
}

.cart {
  @mixin centering {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin wrapper {
    width: 48px;
    height: 48px;
    border-radius: 16px;
  }

  @include centering;
  @include wrapper;
  position: relative;
  background-color: var(--color-primary-light);

  &-active::before {
    content: "";
    @include wrapper;
    position: absolute;
    border: 1px solid var(--color-primary-default);
  }

  &::after {
    content: attr(data-count);
    @include centering;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    background-color: var(--color-primary-default);
    position: absolute;
    top: -4px;
    right: -4px;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: var(--text-color-white);
  }
}

.avatar {
  @mixin common {
    display: flex;
    flex-shrink: 0;
    border-radius: 16px;
    width: 50px;
    height: 50px;
  }

  @include common;
  position: relative;
  border: 2px solid var(--color-filled-default);
  overflow: hidden;
  margin-left: 17px;

  &-active {
    border: 2px solid var(--color-primary-default);
  }

  &::after {
    content: "";
    @include common;
    position: absolute;
    border: 3.5px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover::after {
    border: 3.5px solid var(--color-primary-light);
  }
}

.mix-form {
  margin-left: 48px;
}
