.nav {
  display: flex;
}

.list {
  display: flex;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  margin-right: 30px;
  white-space: nowrap;
}
