.label {
  display: flex;
  width: 224px;
  height: 40px;
  background-color: var(--color-filled-default);
  border-radius: 12px;
  padding: 10px 12px;
}

.input {
  background-color: inherit;
  border: none;
  outline: none;
  width: 100%;

  &:focus {
    border: none;
    outline: none;
  }
}

.button {
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
