.form {
  max-width: 350px;
  width: 100%;
  padding-bottom: 25px;
}

.title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: 0.1px;
}

.text {
  color: var(--text-color-primary-light);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.description {
  margin-bottom: 32px;
}

.input {
  margin-bottom: 28px;
}

.button {
  width: 100% !important;
  margin: 40px 0 28px;
}

.link {
  align-self: center;
  text-decoration: none;
  color: var(--color-primary-default);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.recovering {
  margin-bottom: 94px;
}

.question {
  align-self: center;
  margin-bottom: 10px;
}

@media screen and (max-height: 768px) {
  .recovering {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 560px) {
  .form {
    max-width: 330px;
    padding: 5px 5px 20px;
  }
}
