.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  display: flex;
  max-width: max-content;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-color-primary-light);
  user-select: none;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 12px;
  width: 100%;
  border: 1px solid var(--text-color-seondary-light);
  border-radius: 8px;
}

.input {
  border: none;
  border-radius: 8px;
  outline: none;
  width: 95%;
  height: 44px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 12px;

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--text-color-seondary-default);
  }
}
