.main {
  display: flex;
  margin: auto;
  max-width: var(--max-width-content);
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  padding-top: 24px;
}

.settings {
  max-width: fit-content;
  margin-right: 30px;
}

.subpage {
  width: 100%;
}
