@mixin listDisplay {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: var(--max-width-content);
  width: 100%;
  min-height: calc(100vh - var(--header-height));
}

.promo {
  display: flex;
  min-height: 188px;
  justify-content: space-between;
  gap: 30px;
  margin: 24px 0 32px;
}

.categories {
  @include listDisplay();
}

.restaurants {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.restaurants-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  margin-bottom: 16px;
}

.restaurants-wrapper {
  @include listDisplay();
}

.restaurants-wrapper-loading {
  filter: blur(3px);
}
