.main {
  display: flex;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  background-color: #ffffff;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  width: 44.5%;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55.5%;
  background-color: var(--bg-color-seondary);
}

.cards-wrapper {
  margin-top: 48px;
  position: relative;
  width: 665px;
  height: 512px;
}

.meal-card {
  position: absolute;
  top: 32px;
  right: 0;
}

.meal-card-second {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
}

.review-card {
  top: 0;
  left: 30px;
  position: absolute;
  z-index: 1;
}

.review-title {
  margin: 68px 0 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.1px;
  color: var(--text-color-white);
}

.review-text {
  max-width: 480px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: var(--text-color-white);
}

@media screen and (max-height: 740px) {
  .cards-wrapper {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .cards-wrapper {
    transform: scale(0.85);
  }

  .review-title {
    margin: 40px 0 16px;
  }
}

@media screen and (max-width: 1080px) {
  $offset: -30px;

  .cards-wrapper {
    margin-top: 10px;
    transform: scale(0.8) translateY($offset);
  }

  .review-title {
    margin: 0 0 10px;
    transform: translateY($offset);
  }

  .review-text {
    transform: translateY($offset);
  }
}

@media screen and (max-width: 1000px) {
  .cards-wrapper {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 900px) {
  .left-wrapper {
    width: 100%;
  }
  .right-wrapper {
    display: none;
  }
}
