.promo {
  display: flex;
  border-radius: 16px;
  width: 100%;
  max-width: 540px;

  &-primary {
    background-color: var(--color-primary-light);
  }

  &-secondary {
    background-color: var(--color-secondary-light);
  }
}

.image-wrapper {
  display: flex;
  position: relative;
  object-fit: cover;
  overflow: hidden;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 36px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  margin-bottom: 8px;
}

.info {
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.1px;

  &-primary {
    color: var(--color-primary-default);
  }

  &-secondary {
    color: var(--color-secondary-default);
  }
}

.category {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--text-color-seondary-default);
}

@media screen and (max-width: 1050px) {
  .info {
    font-size: 35px;
    line-height: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .promo {
    flex-direction: column-reverse;
    align-items: center;
    max-width: 500px;
  }

  .info-wrapper {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 16px 16px 0;
  }

  .info-container {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .info {
    font-size: 40px;
    line-height: 56px;
  }
}
